.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  z-index: 98;


  &.active {
    opacity: 0.8;
    visibility: visible;
  }
}